/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General Rules */
body {
    width: 512px;
    border: 2px black dashed;
}

/* Header */
.title-header {
    padding: 5px 15px;
    border-bottom: 2px black solid;
}

/* Main Content */
.content-cards {
    padding: 0 20px;
}

.text-card {
    margin: 15px 0;
    padding: 15px;
    border: 2px black solid;
    min-height: 160px;
}

/* Footer */

.sign-footer {
    padding: 5px 15px;
    border-top: 2px black solid;
}
