/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General Rules */
body {
    border: 2px black dashed;
}

/* Header */
.title-header {
    padding: 10px 30px;
    border-bottom: 3px black solid;
}

/* Main Content */

section {
    padding: 16px;
}

.text-card {
    width: 400px;
    padding: 16px;
    border: 3px black solid;
    margin: 0 auto;
}

/* Footer */
.sign-footer {
    padding: 10px 30px;
    border-top: 3px black solid;
}
